{% extends "base.html" %}

<title>{% block title %}Public Items{% endblock %}</title>

{% block content %}
<a href='{{ url_for('newItem', category=category) }}'>New Item</a> <!-- if logged in -->
<div class="container"></div>
<div id="categories">
    <h3>Categories</h3>
    <!-- Lists all categories, preexisting based on select in forms, currently hardcoded -->
    <ul style="list-style-type: none;">
        {% for category in categories %}
        <li><a href="#">{{category}}</a></li>
        {% endfor %}
    </ul>
</div>
<div id="items">
    <h3>Latest Items</h3>
    <!-- All items, in order of time added (see database info) -->
    <ul>
        {% for item in items %}
        <li><a href='{{ url_for('itemInfo', item_id=item.id, category=item.category) }}'>{{item.name}}</a></li>
        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}