{% extends "base.html" %}

{% block title %}{{category}} (Public Items){% endblock %}

{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <a href='{{ url_for('newItem', category=category) }}'>New Item</a>
</div>
<div id="categories">
    {% if category %}
      <h3>{{category}}</h3>
    {% else %}
      <h3>Categories</h3>
    {% endif %}
    <ul class="list-unstyled">
        {% for category in categories %}
        <li><a href='{{ url_for('categoryItems', category=category) }}'>{{category}}</a></li>
        {% endfor %}
    </ul>
</div>
<div id="items">
    <h3>Latest Items ({{count}})</h3>
    <ul class="list-unstyled">
        {% for item in items %}
        <li><a href='{{ url_for('itemInfo', item_id=item.id, category=item.category) }}'>{{item.name}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}