{% extends "base.html" %} 
{% block title %}Login{% endblock %}

{% block content %}
<div class="form-control">
    <h3 class="text-center">Login</h3>
    <form action='{{ url_for('login') }}' method="POST">
        <div class="form-control" id="email">
            <label for="email">Email:</label>
            <input type="text" name="email">
        </div>
        <div class="form-control">
            <label for="password">Password:</label>
            <input type="text" name="password">
        </div>
        <button class="btn btn-info" name="Submit" value="Submit">Submit</button>
    </form>
</div>
{% endblock %}