{% extends "base.html" %} 
{% block title %}Login{% endblock %}

{% block content %}
<div class="form-group">
    <h3 class="text-center">Login</h3>
    <form action='{{url_for('login', STATE=STATE)}}' method="POST">
        <div class="form-group" id="email">
            <label for="email">Email:</label>
            <input class="form-control" type="text" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" type="text" name="password" required>
        </div>
        <button class="btn btn-info" name="Submit" value="Submit">Submit</button>
    </form>
</div>
    <div id="signinButton">
        <span class="g-signin"
        data-scope="openid email"
        data-clientid="671079066165-48ap8656ekipr5e8jekciii7vsm7s446.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback= "signInCallback"
        data-approvalprompt="force">
        </span>
    </div>
  <div id="result"></div>
  <!-- Result of google oauth call, should flash on page, redirect to catalog of this user, now added to db/ login_session -->
  <script>
    function signInCallback(authresult) {
        console.log('signin run');
        if (authresult['code']) {
            $('#signinButton').attr('style', 'display: none');
            // send one time use code to server, if responds
            // write 'login successful' to page and back to main
            // rooms page
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{STATE}}',
                processData: false,
                contentType: 'application/octet-stream; charset=utf-8',
                data: authresult['code'],
                success: function(result) {
                    if (result) {
                        $('#result').html(`Login Successful!</br> ${result} </br>Redirecting...`);
                        setTimeout(function() {
                            window.location.href = "/catalog";
                        }, 4000);
                    } else if (authresult['error']) {
                        console.log(`There was an error: ${authresult['error']}`);
                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                }
            });
        }
    }
</script>
{% endblock %}